body {
    font-family: 'Poppins', sans-serif;

}

/* toast bar */
.toast-bar {
    position: fixed;
    top: 850px;
    right: 400px;
}

/* footer section */

.footer-section {
    background-color: #0B0D17;
    width: 1440px;

}

.app-link {
    text-decoration: none;
    width: fit-content;
}